<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= link_to Rails.application.class.parent.to_s, root_path, class: "footer__brand" %>
        <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
			</div>
			<div class="col-md-4">
				<ul class="footer__link-list">
					<li><%= link_to "Sobre nosotros", about_us_path, class: "footer__link" %></li>
					<li><%= link_to "Preguntas frecuentes", faq_path, class: "footer__link" %></li>
					<li><%= link_to "Contacto", contact_us_path, class: "footer__link" %></li>
					<li><%= link_to "Política de privacidad", privacy_path, class: "footer__link" %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>